<div>
    <div>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td># of trips</td>
            <td># of stops</td>
            <td>From</td>
            <td>To</td>
        </tr>
        <hr/>
    </div>
    <div ng-repeat="route in routes" ng-controller="RouteController">
        <table>
            <tr>
                <td>
                    <button ng-hide="expanded" ng-click="expand()">&plus;</button>
                    <button ng-show="expanded" ng-click="collapse()">&minus;</button>
                    </button></td>
                <td>{{route.count}}</td>
                <td>{{route.stops.length}}</td>
                <td>{{route.stops[0].stop_name}}</td>
                <td>{{route.stops[route.stops.length-1].stop_name}}</td>
            </tr>
        </table>
        <hr/>
    </div>
</div>




