<div>
    <table>
        <tr>
            <td>
                <span ng-hide="expand" ng-click="expand=true">+</span>
                <span ng-show="expand" ng-click="expand=false">-</span>
                ID
            </td>
            <td>
                {{trip.id}}
            </td>
        </tr>
        <tr ng-show="expand">
            <td>
                Start Date
            </td>
            <td>
                {{trip.start_date}}
            </td>
        </tr>
        <tr ng-show="expand">
            <td>
                Valid
            </td>
            <td>
                {{trip.valid | yesNo}}
            </td>
        </tr>
        <tr ng-show="expand">
            <td>
                To North?
            </td>
            <td>
                {{trip.is_to_north | yesNo}}
            </td>
        </tr>
        <tr ng-show="expand">
            <td>
                Stops
            </td>
            <td>
                <table>
                    <tr ng-repeat="stop in trip.stops">
                        <td>
                            <a target="_" href="{{stop.link}}">{{stop.index}}</a>
                        </td>
                        <td>
                            {{stop.stop_id</a>}}
                        </td>
                        <td>
                            {{stop.stop_name}}
                        </td>
                        <td>
                            {{stop.actual_arrival | hmOnly}}({{stop.exp_arrival | hmOnly}})
                        </td>
                        <td>
                            {{stop.actual_departure | hmOnly}}({{stop.exp_departure | hmOnly}})
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
