Django==1.10.5
ipython==4.1.2
django-extensions==1.7.5
djangorestframework==3.5.3
pytz==2016.10
xlrd==1.0.0
psycopg2==2.6.2
requests==2.12.5
django-rest-swagger==2.1.1
django-cors-headers==2.0.0
numpy==1.11.0
networkx==1.11
pandas==0.19.1
