<table>
<tr>
    <th>
        Id
    </th>
    <th>
        From &#8605; To
    </th>
    <th>
        Number of Stops
    </th>
    <th>
        Number of Services
    </th>
</tr>
{% for route in routes %}
<tr>
    <td>
        <a href="/browse/routes/{{route.id}}/">{{route.id}}</a>
    </td>
    <td>
        {{route.first_stop_heb_name}}
        &#8605;
        {{route.last_stop_heb_name}}
    </td>
    <td>
        {{route.stop_ids | length}}
    </td>
    <td>
        {{route.service_set.count}}
    </td>
</tr>
{% endfor %}
</table>