<h2>Route {{route.id}}</h2>
<h3> {{route.stop_ids | length}} Stops</h3>
<table>
<tr>
    <th>Stop Name</th>
</tr>
{% for stop in route.get_stops %}
<tr>
    <td>{{stop.heb_stop_names.0}}</td>
</tr>
{% endfor %}
</table>
<h3>{{route.service_set.count}} Services</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Departure Time (local)</th>
        <th>Arrival Time (local)</th>
        <th># trips</th>
    </tr>
{% for service in route.get_services %}
   <tr>
       <td><a href="/browse/services/{{service.id}}/">{{service.id}}</a></td>
       <td>{{service.get_departure_time_str}}</td>
       <td>{{service.get_arrival_time_str}}</td>
       <td>{{service.trips.count}}</td>
   </tr>
{% endfor %}
</table>