<div class="full-page">
    <h1>Top Highlights</h1>
    <div class="row" ng-repeat="highlightList in highlightLists">
        <div class="col-xs-12 col-sm-4" ng-repeat="item in highlightList.items">
            <div class="panel panel-{{highlightList.color}}" style="color: blue">
                <div class="panel-heading">
                    <a ng-href="{{ item.url }}">{{ highlightList.title }}</a>
                </div>
                <div class="panel-body">
                    {{ item.text }}
                </div>
            </div>
        </div>
    </div>
</div>