{% extends "base.html" %}
{% load ot_filters %}
{% load i18n %}
{% block content %}

<h2>{% trans 'Route' %} {{route.id}}</h2>
<h3> {{route.stop_ids | length}} {% trans 'Stops' %} (<a href="/browse/routes/{{route.id}}/edit-stops/">{% trans 'edit' %}<a/> ) </h3>
<div class="row">
<ul class="list-inline">
{% for stop in route.get_stops %}
    <li class="stop_in_list">{{stop.stop_id | heb_stop_name}}</li>
{% endfor %}
</ul>
</div>
<h3>{{route.service_set.count}} {% trans 'Services' %}</h3>
<table class="table" id="servicesTable">
    <thead>
    <tr>
        <th>{% trans 'ID' %}</th>
        <th>{% trans 'Departure Time' %}</th>
        <th>{% trans 'Arrival Time' %}</th>
        <th># {% trans 'trips' %}</th>
    </tr>
    </thead>
    <tbody>
{% for service in route.get_services %}
   <tr>
       <td><a href="/browse/services/{{service.id}}/">{{service.id}}</a></td>
       <td>{{service.get_departure_time_str}}</td>
       <td>{{service.get_arrival_time_str}}</td>
       <td>{{service.trips.count}}</td>
   </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}


{% block post_scripts %}
<script>
$(document).ready(function(){
    $('#servicesTable').dataTable({
        paging: false,
        searching: false,
        bInfo: false,
    });
});
</script>
{% endblock %}