{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h2>{% trans 'File'%} {{filename}}</a></h2>
<h3><a href="{{prev}}">{%trans 'prev' %}</a> <a href="{{next}}">{% trans 'next' %}</a></h3>
<table class="table table-hover">
    <thead>
    <tr>
        <th>{% trans 'Line No' %}</th>
        <th></th>
        <th>{% trans 'Line' %}</th>
    </tr>
    </thead>
    <tbody>
{%for line in lines%}
<tr
    {% if line.lineno == lineno %}
    class = "success"
    {%endif %}
        >
    <td>
        <samp><a name="{{line.lineno}}">#{{line.lineno}}</a></samp>
    </td>
    <td>
        &nbsp;&nbsp;&nbsp;&nbsp;
    </td>
    <td dir="ltr">
        <samp>{{line.line}}</samp>
    </td>
    </tbody>
</tr>

{%endfor%}
</table>
{% endblock %}
