{% extends "base.html" %}
{% load ot_filters %}
{% load i18n %}

{% block content %}

<h2>{% trans 'Trip' %} {{object.id}} {% trans 'in' %} {{object.start_date | date:"D, d/m/Y"}}</h2>

<h3>{{samples | length }} {% trans 'Samples' %}</h3>
<table class="table">
    <thead>
    <tr>
        <th>
            {% trans 'Stop Name' %}
        </th>
        <th>
            {% trans 'Stop id' %}
        </th>
        <th>
            {% trans 'Expected Arrival' %}
        </th>
        <th>
            {% trans 'Actual Arrival' %}
        </th>
        <th>
            {% trans 'Expected Departure' %}
        </th>
        <th>
            {% trans 'Actual Departure' %}
        </th>
        <th>
            {% trans 'Link' %}
        </th>
    </tr>
    </thead>
    <tbody>
{% for sample in samples %}
    <tr>
        <td>{{sample.stop_id | heb_stop_name }}</td>
        <td>{{ sample.stop_id }}</td>
        <td>{{sample.exp_arrival | stop_time}}</td>
        <td>{{sample.actual_arrival | stop_time}}</td>
        <td>{{sample.exp_departure | stop_time}}</td>
        <td>{{sample.actual_departure | stop_time}}</td>
        <td><a href="{{sample.get_text_link}}">{% trans 'line' %} #{{sample.data_file_line}}</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}