{% extends "base.html" %}
{% load ot_filters %}
{% load i18n %}

{% block content %}

<h2>{% trans 'Trip' %} {{trip.id}} {% trans 'in' %} {{trip.start_date | date:"D, d/m/Y"}}</h2>

<h3>{{samples | length }} {% trans 'Samples' %}</h3>
<table class="table">
    <tr>
        <th>
            {% trans 'Stop Name' %}
        </th>
        <th>
            {% trans 'Expexcted Arrival' %}
        </th>
        <th>
            {% trans 'Actual Arrival' %}
        </th>
        <th>
            {% trans 'Expected Departure' %}
        </th>
        <th>
            {% trans 'Actual Departure' %}
        </th>
        <th>
            {% trans 'Link' %}
        </th>
    </tr>
{% for sample in samples %}
    {% if sample.is_real_stop %}
    <tr>
        <td>{{sample.stop_id | heb_stop_name }}</td>
        <td>{{sample.exp_arrival | stop_time}}</td>
        <td>{{sample.actual_arrival | stop_time}}</td>
        <td>{{sample.exp_departure | stop_time}}</td>
        <td>{{sample.actual_departure | stop_time}}</td>
        <td><a href="{{sample.data_file_link}}#{{sample.data_file_line}}">{% trans 'line' %} #{{sample.data_file_line}}</a></td>
    </tr>
    {% endif %}
{% endfor %}
</table>
{% endblock %}