{% extends "base.html" %}
{% load ot_filters %}
{% load i18n %}
{% block content %}
<table class="table">
    <thead>
<tr>
    <th>
        {% trans 'Id' %}
    </th>
    <th>
        {% trans 'origin' %}
    </th>
    <th>
        {% trans 'destination' %}
    </th>
    <th>
        # {% trans 'Stops' %}
    </th>
    <th>
        # {% trans 'Services' %}
    </th>
</tr>
    </thead>
    <tbody>
{% for route in routes %}
<tr>
    <td>
        <a href="/browse/routes/{{route.id}}/">{{route.id}}</a>
    </td>
    <td>
        {{route.first_stop_id | heb_stop_name}}
    </td>
    <td>
        {{route.last_stop_id | heb_stop_name}}
    </td>
    <td>
        {{route.stop_ids | length}}
    </td>
    <td>
        {{route.service_set.count}}
    </td>
</tr>
{% endfor %}
</tbody>
</table>
 {% endblock %}