{% extends "base.html" %}
{% load ot_filters %}
{% load i18n %}
{% block content %}
    <form method="get" action="{% url 'browse:routes' %}" dir="rtl">
        {{ form }}
        <button class="btn btn-success" type="submit">{% trans 'go' %}</button>
    </form>
    {% if object_list %}
    <h2>{{ object_list | length}} {% trans 'routes' %}</h2>
    <table class="table" id="routesTable">
        <thead>
        <tr>
            <th>
                {% trans 'Id' %}
            </th>
            <th>
                {% trans 'origin' %}
            </th>
            <th>
                {% trans 'destination' %}
            </th>
            <th>
                # {% trans 'Stops' %}
            </th>
            <th>
                # {% trans 'Services' %}
            </th>
            <th>
                # {% trans 'Trips' %}
            </th>
            <th>
                {% trans 'earliest trip' %}
            </th>
            <th>
                {% trans 'latest trip' %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for route in object_list %}
            <tr>
            <td>
                <a href="/browse/routes/{{ route.id }}/">{{ route.id }}</a>
            </td>
            <td>
                {{ route.first_stop_id | heb_stop_name }}
            </td>
            <td>
                {{ route.last_stop_id | heb_stop_name }}
            </td>
            <td>
                {{ route.stop_ids | length }}
            </td>
            <td>
                {{ route.services.count }}
            </td>
            <td>
                {{ route.trips.count }}
            </td>
            <td>
                {{ route.earliest_trip | u }}
            </td>
            <td>
                {{ route.latest_trip | u }}
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        {% trans 'No routes. Please select route or source' %}
    {% endif %}
{% endblock %}


{% block post_scripts %}
    <script>
        $(function () {
            $('#routesTable').dataTable({
                paging: false,
                searching: false,
                bInfo: false,
            });
        });
        $(function() {
            $('select').select2();
        });
    </script>
{% endblock %}