{% extends "base.html" %}
{% load ot_filters %}
{% load i18n %}
{% block content %}

<h2>{% trans 'Route' %} {{route.id}}</h2>
<h3> {{route.stop_ids | length}} {% trans 'Stops' %}</h3>
<table class="table">
<tr>
    <th>{% trans 'Stop Name' %}</th>
</tr>
<ul class="list-inline">
{% for stop in route.get_stops %}
    <li class="stop_in_list">{{stop.stop_id | heb_stop_name}}</li>
{% endfor %}
</ul>
</table>
<h3>{{route.service_set.count}} {% trans 'Services' %}</h3>
<table class="table">
    <tr>
        <th>{% trans 'ID' %}</th>
        <th>{% trans 'Departure Time' %}</th>
        <th>{% trans 'Arrival Time' %}</th>
        <th># {% trans 'trips' %}</th>
    </tr>
{% for service in route.get_services %}
   <tr>
       <td><a href="/browse/services/{{service.id}}/">{{service.id}}</a></td>
       <td>{{service.get_departure_time_str}}</td>
       <td>{{service.get_arrival_time_str}}</td>
       <td>{{service.trips.count}}</td>
   </tr>
{% endfor %}
</table>
{% endblock %}