{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h2>{% trans 'File'%} {{filename}}</h2>
<h3><a href="{{prev}}">{%trans 'prev' %}</a> <a href="{{next}}">{% trans 'next' %}</a></h3>
<table class="table table-hover">
    <thead>
    <tr>
        <th>{% trans 'Line No' %}</th>
        <th></th>
        {% if is_excel %}
            {% for h in header %}
                <th>
                {{ h }}
                </th>
            {% endfor %}
        {% else %}
        <th>{% trans 'Line' %}</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
{%for line in lines%}
<tr
    {% if line.lineno == sample_lineno %}
    class = "success"
    {%endif %}
        >
    <td>
        <samp><a name="{{line.lineno}}">#{{line.lineno}}</a></samp>
    </td>
    <td>
        &nbsp;&nbsp;&nbsp;&nbsp;
    </td>
    {% if is_excel %}
        {% for v in line.line %}
            <td>{{ v }}</td>
        {% endfor %}
    {% else %}
        <td dir="ltr">
            <samp>{{line.line}}</samp>
        </td>
    {% endif %}
    </tbody>
</tr>

{%endfor%}
</table>
{% endblock %}
