{% extends "base.html" %}
{% load ot_filters %}
{% block content %}
{% load i18n %}
<h2>{% trans 'Service' %} {{service.id}}</h2>
<h3> {{service.route.stop_ids | length}} {% trans 'Stops' %}</h3>
<div class="row">
<table class="table">
    {% for stop in service.get_stops %}
    <tr

        {% if stop.stat.time_in_stop != None and stop.stat.time_in_stop < 10 %}
            class="danger"
        {% endif %}
        >
        <td>{{stop.stop_id | heb_stop_name}}</td>
        <td>{{stop.exp_arrival}}</td>
        <td>{{stop.exp_departure}}</td>
        <td>
                {{stop.stat.time_in_stop | secondsOrNA}}
        </td>
    </tr>
    {% endfor %}
</table>
</ul>
</div>
<h3>{{service.trips.count}} {% trans 'Trips' %}</h3>
<table class="table" id="tripsTable">
    <thead>
    <tr>
        <th>{% trans 'ID' %}</th>
        <th>{% trans 'Date' %}</th>
        <th>{% trans 'Train Num' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for trip in service.trips.all %}
    <tr>
        <td><a href="/browse/trips/{{trip.id}}/">{{trip.id}}</a></td>
        <td>{{trip.start_date | date:"d/m/Y"}}</td>
        <td>{{trip.train_num}}</td>
     </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block post_scripts %}
<script>
$(document).ready(function(){
    $('#tripsTable').dataTable({
        paging: false,
        searching: false,
        bInfo: false,
    });
});
</script>
{% endblock %}
