{% extends "base.html" %}
{% load i18n ot_filters %}
{% block content %}
<h1>{% trans 'Compare Routes' %}</h1>

<table class="table table-hover compare-table" >
    <tbody>
    <tr>
        <td>
            {% trans '# of stops' %}
        </td>
        {% for route in object_list %}
            <td>
            {{ route.stop_ids | length }}
            </td>
        {% endfor %}
    </tr>

    <tr>
        <td>
            {% trans '# of trips' %}
        </td>
            {% for route in object_list %}
            <td>
            {{ route.trips.count }}
            </td>
        {% endfor %}
    </tr>
    <tr>
        <td>
            {% trans 'checksum index' %}
        </td>
            {% for route in object_list %}
            <td>
            {{ route.checksum_index }}
            </td>
        {% endfor %}
    </tr>
    <tr>
    {% for stop_id in all_stop_ids %}
        <tr>
            <td>
                {{ stop_id | heb_stop_name }}
            </td>
            {% for route in object_list %}
                {% spaceless %}
                    {% if stop_id in route.stop_ids %}
                        <td class="good"></td>
                    {% else %}
                        <td class="bad"></td>
                    {% endif %}
                {% endspaceless %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
