{% extends "base.html" %}
{% load ot_filters %}
{% load i18n %}
{% block content %}

<h2>{% trans 'Route' %} {{route.id}} - {%trans 'editing' %}</h2>
<h3> {{route.stop_ids | length}} {% trans 'Stops' %}</h3>
<div>
    <div class="well col-md-3">
        <h3>{% trans 'Real Stops' %}</h3>
         <form method="POST" action="/browse/routes/{{route.id}}/skip-stops/">
             {% for stop in route.get_stops %}
                <p><input type="checkbox" name="stop_{{stop.stop_id}}">{{stop.stop_id | heb_stop_name}}</p>
             {% endfor %}
             <button type="submit">{% trans 'mark as skip'%}</button>
         </form>
    </div>
    <div class="well col-md-3">
        <h3>{% trans 'Skipped Stops' %}</h3>
         <form method="POST" action="/browse/routes/{{route.id}}/unskip-stops/">
             {% for stop in route.get_skipped_stops %}
                <p><input type="checkbox" name="stop_{{stop.stop_id}}">{{stop.stop_id | heb_stop_name}}</p>
             {% endfor %}
             <button type="submit">{% trans 'unskip' %}</button>
         </form>
    </div>
</div>
{% endblock %}


