<div class="route-details">
    <h1>{{ stopName(origin) }} - {{ stopName(destination) }}</h1>
    <div class="loading alert alert-info" ng-show="!loaded">
        <i class="fa fa-spinner fa-pulse"></i>
        טוען נתונים...
    </div>

    <div ng-show="loaded">

        <div class="days-container btn-group btn-group-lg btn-group-justified">
            <div class="btn btn-default" ng-model="selectedDay" btn-radio="null">
                <div class="btn-title">&zwnj;<i class="fa fa-calendar"></i></div>
                <div class="btn-text">הכל</div>
            </div>
            <div class="btn btn-default" ng-repeat="day in days" ng-model="$parent.selectedDay" btn-radio="day.value">
                <div class="btn-title">{{ day.abbr }}</div>
                <div class="btn-text">{{ day.title }}</div>
            </div>
        </div>

        <div class="times-container btn-group btn-group-lg btn-group-justified btn-group-tabs">
            <div class="btn btn-default" ng-model="selectedTime" btn-radio="null">
                <div class="btn-text">הכל</div>
            </div>
            <div class="btn btn-default" ng-repeat="time in times" ng-model="$parent.selectedTime" btn-radio="time.from">
                <div class="btn-text">{{ time.from }}<br/>{{ time.to }}</div>
            </div>
        </div>

        <table class="table table-striped content">
            <colgroup span="2">
            </colgroup>
            <colgroup span="5">
            </colgroup>
            <colgroup span="5">
            </colgroup>
            <thead>
                <tr class="table-header-primary">
                    <th scope="colgroup" colspan="2">תחנות</th>
                    <th scope="colgroup" colspan="5">הגעה לתחנה</th>
                    <th scope="colgroup" colspan="5">יציאה מהתחנה</th>
                </tr>
                <tr class="table-header-secondary">
                    <th></th>
                    <th></th>
                    <th>איחור ממוצע</th>
                    <th tooltip="הגעה לפני הזמן המתוכנן" tooltip-append-to-body="true">
                        הגעה מוקדמת
                    </th>
                    <th tooltip="הגעה עד 2 דקות אחרי הזמן המתוכנן" tooltip-append-to-body="true">
                        הגעה בזמן
                    </th>
                    <th tooltip="הגעה בין 2 ל-5 דקות אחרי הזמן המתוכנן" tooltip-append-to-body="true">
                        איחור קל
                    </th>
                    <th tooltip="הגעה מעבר ל-5 דקות אחרי הזמן המתוכנן" tooltip-append-to-body="true">
                        איחור כבד
                    </th>

                    <th>איחור ממוצע</th>
                    <th tooltip="יציאה לפני הזמן המתוכנן" tooltip-append-to-body="true">
                        יציאה מוקדמת
                    </th>
                    <th tooltip="יציאה עד 2 דקות אחרי הזמן המתוכנן" tooltip-append-to-body="true">
                        יציאה בזמן
                    </th>
                    <th tooltip="יציאה בין 2 ל-5 דקות אחרי הזמן המתוכנן" tooltip-append-to-body="true">
                        איחור קל
                    </th>
                    <th tooltip="יציאה מעבר ל-5 דקות אחרי הזמן המתוכנן" tooltip-append-to-body="true">
                        איחור כבד
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="stat in stats">
                    <td class="stop-diagram" ng-class="{ 'stop-diagram-start': $first, 'stop-diagram-end': $last }">
                        <div class="stop-diagram-number">
                            {{ $index +1 }}
                        </div>
                    </td>
                    <th class="stop-name">{{ stopName(stat.stop_id) }}</th>

                    <td><span class="duration">{{ stat.arrival_avg_delay | duration }}</span></td>
                    <td><rex-percent-bar value="stat.arrival_early_pct" type="'info'"></rex-percent-bar></td>
                    <td><rex-percent-bar value="stat.arrival_on_time_pct" type="'success'"></rex-percent-bar></td>
                    <td><rex-percent-bar value="stat.arrival_short_delay_pct" type="'warning'"></rex-percent-bar></td>
                    <td><rex-percent-bar value="stat.arrival_long_delay_pct" type="'danger'"></rex-percent-bar></td>

                    <td><span class="duration">{{ stat.departure_avg_delay | duration }}</span></td>
                    <td><rex-percent-bar value="stat.departure_early_pct" type="'info'"></rex-percent-bar></td>
                    <td><rex-percent-bar value="stat.departure_on_time_pct" type="'success'"></rex-percent-bar></td>
                    <td><rex-percent-bar value="stat.departure_short_delay_pct" type="'warning'"></rex-percent-bar></td>
                    <td><rex-percent-bar value="stat.departure_long_delay_pct" type="'danger'"></rex-percent-bar></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
