<div>
<h1>Select a Route</h1>

<form>
    <div class="row">
        <div class="col-sm-6">
            <label for="fromStop">From: </label>
            <input ng-model="fromStop" name="fromStop" class="form-control" type="text" placeholder="Start typing a station name..."
                typeahead="stop as stop.name for stop in stops | filter:$viewValue"/>

            <label for="toStop">To: </label>
            <input ng-model="toStop" name="toStop" class="form-control" type="text" placeholder="Start typing a station name..."
                typeahead="stop as stop.name for stop in stops | filter:$viewValue"/>
        </div>

        <div class="col-sm-6">
            <label for="time">At: </label>
            <timepicker ng-model="time" hour-step="1" minute-step="15" show-meridian="false"></timepicker>
        </div>
    </div>
</form>
</div>
