<div class="select-stops-form">
    <h1>
        <img class="logo" src="/static/ui/RouteExplorer/img/opentrain-logo-title.png" alt="רכבת פתוחה"/>
        שירות לנוסע על מדד זמני ההגעה והיציאה של רכבת ישראל
    </h1>
    <div class="container">
        <form ng-submit="goToRoutes()">
            <h2>חיפוש מדד זמני נסיעה לפי מסלול</h2>
            <div class="row">
                <div class="col-sm-12">
                    <input ng-model="origin" name="origin" class="form-control" type="text" placeholder="בחרו תחנת מוצא" autocomplete="off"
                        uib-typeahead="stop as stop.name for stop in stops | filter:$viewValue" typeahead-editable="false" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <input ng-model="destination" name="destination" class="form-control" type="text" placeholder="בחרו תחנת יעד" autocomplete="off"
                        uib-typeahead="stop as stop.name for stop in stops | filter:$viewValue" typeahead-editable="false" />
                </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <select name="period" class="form-control" ng-model="period" ng-options="period as period.name for period in periods"></select>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary btn-block" ng-disabled="!formValid() || loading">
                        <span ng-unless="loading">סעו</span>
                        <i ng-if="loading" class="fa fa-spinner fa-pulse"></i>
                    </button>
                </div>
            </div>

            <div class="error-overlay" ng-if="noRoutes">
                <div class="error-content">
                    <div class="icon-no-results"></div>
                    <h4>
                        לא נמצאו תוצאות
                    </h4>
                    <div>
                        <button class="btn btn-primary" ng-click="dismissError()">חזרה</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
