$icon-font-path: '~bootstrap/fonts/';
@import 'bootstrap-theme';
@import 'bootstrap';

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

@import 'global-style';
@import 'stops';
@import 'select-stops';
@import 'select-route';
@import 'route-details';
@import 'about';

.ot-popup {
  color: blue;
}

.skip-checkbox {
  width: 18px;
  height: 18px;
}
/*
.ui-checkboxradio-radio-label .ui-icon-background {
    width: 16px;
    height: 16px;
    border-radius: 1em;
    overflow: visible;
    border: none;
}

.ui-checkboxradio-radio-label.ui-checkboxradio-checked .ui-icon,
.ui-checkboxradio-radio-label.ui-checkboxradio-checked:hover .ui-icon {
    background-image: none;
    width: 8px;
    height: 8px;
    border-width: 4px;
    border-style: solid;
}

.ui-checkboxradio-disabled {
    pointer-events: none;
}
*/
.sort {
  cursor: pointer;
}

.sort-inactive {
  color: gray;
}

.full-page {
   padding-top: 50px;
}



