Django==1.7.1
argparse==1.2.1
django-cors-headers==1.0.0
django-extensions==1.4.4
djorm-pgarray==1.0.4
ipython==2.3.0
psycopg2==2.5.4
pytz==2014.7
redis==2.10.3
requests==2.4.3
six==1.8.0
wsgiref==0.1.2
