<!DOCTYPE html>
<html ng-app="RouteExplorer" ng-controller="AppController">
    <head>
        <title>רכבת פתוחה</title>
        <meta property="og:title" content="רכבת פתוחה" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="מידע נגיש על ביצועי רכבת ישראל" />
        <meta property="og:image" content="http://otrain.org/static/ui/RouteExplorer/img/route-details-sample.png" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />

        <link rel="stylesheet" href="/static/ui/RouteExplorer/css/main.css">
        <link rel="stylesheet" href="/static/ui/RouteExplorer/bower_components/bootstrap-rtl/dist/css/bootstrap-rtl.min.css">
        <link rel="icon" type="image/png" href="/static/ui/RouteExplorer/img/opentrain-favicon.png">
    </head>
    <body ng-class="bodyClass">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">רכבת<strong>פתוחה</strong></a>
            </div>

            <span class="navbar-left">
                <a class="navbar-btn btn btn-primary" href="#/about">אודות</a>
                <a class="navbar-btn btn btn-primary" href ng-click="share('http://www.facebook.com/sharer.php?u=')">
                    <i class="fa fa-facebook"></i>
                </a>
            </span>
        </nav>

        <div class="view" ng-view>
        </div>

        <script src="/static/ui/RouteExplorer/bower_components/angular/angular.min.js"></script>
        <script src="/static/ui/RouteExplorer/bower_components/angular-route/angular-route.min.js"></script>
        <script src="/static/ui/RouteExplorer/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="/static/ui/RouteExplorer/js/polyfills.js"></script>
        <script src="/static/ui/RouteExplorer/js/RouteExplorer.js"></script>
        <script src="/static/ui/RouteExplorer/js/Layout.js"></script>
    </body>
</html>
