<html>
    <head>
        <link rel="stylesheet" href="/static/ui/RouteExplorer/css/main.css">
        <link rel="stylesheet" href="/static/ui/RouteExplorer/bower_components/bootstrap-rtl/dist/css/bootstrap-rtl.min.css">
    </head>
    <body ng-app="RouteExplorer">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">רכבת פתוחה</a>
                </div>
            </div>
        </nav>

        <div class="container" ng-view>
        </div>

        <script src="/static/ui/RouteExplorer/bower_components/angular/angular.min.js"></script>
        <script src="/static/ui/RouteExplorer/bower_components/angular-route/angular-route.min.js"></script>
        <script src="/static/ui/RouteExplorer/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="/static/ui/RouteExplorer/js/RouteExplorer.js"></script>
        <script src="/static/ui/RouteExplorer/js/Layout.js"></script>
    </body>
</html>
