$icon-font-path: '../../bower_components/bootstrap-sass/assets/fonts/bootstrap/';
@import 'bootstrap-theme';
@import 'bootstrap';

$fa-font-path: '../../bower_components/fontawesome/fonts/';
@import 'font-awesome';

@import 'global-style';
@import 'stops';
@import 'select-stops';
@import 'select-route';
@import 'route-details';
@import 'about';

.ot-popup {
  color: blue;
}


.sort {
  cursor: pointer;
}

.sort-inactive {
  color: gray;
}

.full-page {
   padding-top: 50px;
}



