<h1 style="padding-top: 50px">גרפים</h1>
<div class="row">
    <div class="col-xs-3" style="padding-right: 30px">
        <h1 class="page-header">
            מחקר מסלולים
        </h1>
        <ul class="list-group" style="color: blue">
            <li class="list-group-item">
                <b>מזהה מסלול</b>: {{ route.id }}
            </li>
            <li class="list-group-item">
            <b>תאריך התחלה</b>: {{ startDate}}
                </li>
            <li class="list-group-item">
                <b>תאריך סיום</b>: {{  endDate}}
            </li>
            <li class="list-group-item">
                <b>מספר נסיעות</b>: {{ route.trips_count}}
            </li>
        </ul>
        <form class="form" id="explore-form" ng-submit="refresh()">
            <div class="form-group">
                <label>
                    מסלול
                </label>
                <select class="form-control"
                    ng-options="getRouteTitle(route) for route in routes"
                    ng-model="input.selectedRoute"
                ></select>
            </div>
            <div class="form-group">
                <label>
                    מחודש
                </label>
                <select class="form-control"
                        ng-options="date.name for date in startDates"
                        ng-model="input.startDate">
                </select>
            </div>
            <div class="form-group">
                <label>
                    עד חודש
                </label>
                <select class="form-control"
                        ng-options="date.name for date in endDates"
                        ng-model="input.endDate">
                </select>
            </div>
            <button class="btn btn-success btn-block" type="submit">קדימה</button>
        </form>
    </div>
    <div ng-if="wip" class="col-xs-9">
        <i class="fa fa-spin fa-5x fa-spinner"></i> טוען מידע...
    </div>
    <div ng-if="!wip" class="col-xs-9" id="main-div">
        <div class="row">
            <div class="col-xs-11">
                <div ng-if="chartPerDay && input.graphKind == 'perDay'" dir="ltr">
                    <highchart id="chart-per-day" config="chartPerDay"></highchart>
                </div>
                <div ng-if="chartPerHour && input.graphKind == 'perHour'" dir="ltr">
                    <highchart id="chart-per-hour" config="chartPerHour"></highchart>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-11">
                <label>
                    תצוגה בחתך יומי
                </label>
                <input type="radio" value="perDay" ng-model="input.graphKind">
                <label>
                    תצוגה בחתך שעתי
                </label>
                <input type="radio" value="perHour" ng-model="input.graphKind">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-11">
                <h2>הסבר</h2>
                <p>ציר ה X מייצג את התחנות לאורך המסלול</p>
                <p>ציר ה Y מייצג את אחוז הרכבות שמאחרות ביותר מ 5 דקות</p>
                <p>באפשרותכם לבחור בטופס מסלול אחר או תקופה אחרת</p>
            </div>
        </div>
    </div>
</div>