<h1 style="padding-top: 50px">מסלולים אמיתיים</h1>
<div class="row" style="padding: 30px">
    <div class="col-xs-3">
        <form class="form" ng-submit="refresh()">
            <div class="form-group">
                <label>
                    חודש
                </label>
                     <select class="form-control"
                        ng-options="month for month in months"
                        ng-model="selectedMonth"
                    ></select>
            </div>
            <div class="form-group">
                <label>
                    שנה
                </label>
                    <select class="form-control"
                            ng-model="selectedYear"
                            ng-options="year for year in years"></select>
            </div>
            <div class="form-group">
                <button ng-disabled="!selectedYear || !selectedMonth"
                        type="submit" class="btn btn-default btn-block">
                    הצג
                </button>
            </div>
        </form>
    </div>
</div>
