body {
  padding-left: 30px;
  padding-right: 30px;
}

.stop_in_list {
    display: inline-block;
    margin: 5px 3px;
    padding: 6px 17px;
    border: 2px solid #d2d2d2;
    border-radius: 17px;
    background-color: #e8e9ed;
    color: #8d8d8d;
    font-size: 14px;
    font-weight: bold; 
}

.breadcrumb {
    display: inline-block;
    margin: 5px 3px;
    padding: 6px 17px;
    border: 2px solid #d2d2d2;
    border-radius: 17px;
    background-color: #e8e9ed;
    color: #8d8d8d;
    font-size: 14px;
    font-weight: bold; 
}    

.breadcrumb-left {
    float: left;
}    