// Container width
@media (min-width: 1600px) {
    .container { width: 1570px; }
}

// Page layout
$header-height: 50px;
body {
    background-color: $rex-background-color;
    padding-top: $header-height;
}

h1 { margin-bottom: 30px; }
.content { background-color: $rex-content-color; }

// Specific recurring components
.duration {
    // To make the direction display left-to-right, we wrap it in a left-to-right override
    direction: ltr; &::before { content: '\202d'; } &::after { content: '\202c'; }
}

.btn {
    &:active, &.active {
        background-color: $rex-content-color;
        color: $rex-accent-color;
        border-top: 5px solid $rex-accent-color;
        @include box-shadow(none);
    }

    .btn-title {
        font-family: $headings-font-family; font-size: 32px; font-weight: bold;
        i.fa { font-size: 80%; }
    }
    .btn-text { font-size: 12px; font-weight: bold; }
}
