body.rex-page-route {
    background-color: $rex-light-gray-color;
    h1 { color: $rex-brand-dark-color; }

    .days-container {
        margin-bottom: 20px;
    }

    .box {
        border: 1px solid $rex-btn-border-color;
    }

    .times-container {
        .btn > .btn-text { min-height: 30px; }
    }

    table {
        colgroup {
            border-right: 2px solid $table-column-border-color;
            &:first-child { border-right: none; }
        }

        tbody {
            th { font-size: 9pt; }
            td { font-size: 10pt; }
            th, td { vertical-align: middle; }
        }

        td, th {
            text-align: center;
            &.stop-name, &.stop-diagram { text-align: right; }
        }

        .progress-inline {
            width: 115px; height: 15px; position: relative;
            @include transition-property(opacity);
            @include transition-duration(150ms);
            &.progress-novalue { visibility: hidden; @include opacity(0); @include transition-property(opacity, visibility); }

            .progress-value { display: block; position: absolute; left: 2px; right: 2px; text-align: center; font-size: 8pt; }
        }
    }
}
