body.rex-page-welcome {
    h1 {
        > .logo { display: block; margin: 0 auto 20px; max-height: 140px; }
    }

    .select-stops-form {
        padding-top: 50px;
        background-image: linear-gradient(to bottom, darken($rex-brand-dark-color, 5%), darken($rex-brand-dark-color, 10%));

        h1 { color: $rex-brand-light-color; }

        .container {
            max-width: 600px;
            .row { height: 60px; margin-bottom: 25px; }
        }

        form {
            background-color: darken($rex-brand-dark-color, 5%);
            border-color: darken($rex-brand-dark-color, 7%);
            padding: 15px;
            margin: 15px auto 50px ;

            .form-control, .btn-primary { height: 60px; border-radius: 0; font-size: 18px; border: none; }
            .form-control { background-color: $rex-light-gray-color; }
        }
    }
}
