body.rex-page-routes {

    .container{
        margin: 0;
        padding: 0;
        margin: auto;
    }

    .breadcrumb{
        margin-top: 50px;
        text-align: center;
        background-color: inherit;

        li{
            a{
                color: #103D52;
            }
        }

        .active{
            color: #103D52;
            opacity: 0.7;
        }
    }

    .select-route-titel{
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 26px;
    font-weight: lighter;
    }

    div.paths-list {
        display: table;
        -webkit-box-shadow: 0px -2px 46px 7px rgba(0,0,0,0.21);
        -moz-box-shadow: 0px -2px 46px 7px rgba(0,0,0,0.21);
        box-shadow: 0px -2px 46px 7px rgba(0,0,0,0.21);
        > .list-header { display: table-row; font-size: 15pt; background-color: #103D52; }
        > .list-body { display: table-row-group; }
        > .list-body > .list-item { display: table-row; }
        .index-cell, .path-cell, .count-cell { display: table-cell; }

        > .list-header > div { padding: 15px 20px; font-weight: normal; color: #3495C1}
        > .list-body > .list-item {
            cursor: pointer;
            color: #939599; text-decoration: none;
            background-color: #E8E9ED;
            border: 1px solid #ebedec;
            > div { padding: 20px 20px 20px 30px; }

            > div.index-cell {
                font-size: 45pt;
                font-weight: lighter;
                vertical-align: middle;
                text-align: center;
                padding: 20px 20px 20px 0;
            }

            &:hover {
                background-color: $table-bg-hover;

                > div.index-cell {
                    $table-highlight-border-color: #bcbcbc;

                    background-color: $table-bg-hover;
                    color: $rex-accent-color;
                    position: relative;

                    :before {
                        content: "";
                        position: absolute;
                        top: -1px; bottom: -1px; right: -1px; left: -1px;
                        //border: 2px solid $table-highlight-border-color;
                        border-right: 8px solid $rex-accent-color;
                    }

                    :after {
                        $triangle-size: 20px;
                        //content: "";
                        display: block;
                        height: $triangle-size; width: $triangle-size;
                        background-color: #fff;
                        border-width: 2px; border-style: solid;
                        border-color: $table-highlight-border-color transparent transparent $table-highlight-border-color;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        margin-top: (-$triangle-size / 2);
                        margin-left: (-$triangle-size / 2 + 1);
                        @include rotate(-45deg);
                    }
                }
            }
        }

        .stop-list {
            .stop-origin, .stop-destination { background-color: white; color: #3495C1;}
        }

        .count-bar { width: 100px; height: 5px; }
        .count-bar-value { background-color: #b3b3b3; height: 100%; }
    }
}
