table.paths-list {
    > tbody > tr {
        cursor: pointer; border: 1px solid #ebedec;
        background-color: $table-bg-accent;

        > td { padding: 40px; }

        > td.row-index-cell {
            background-color: $rex-background-color;
            color: #939599;
            font-size: 30pt;
            vertical-align: middle;
        }

        &:hover > td.row-index-cell {
            $table-highlight-border-color: #bcbcbc;

            background-color: $table-bg-hover;
            color: $rex-accent-color;
            position: relative;

            :before {
                content: "";
                position: absolute;
                top: -1px; bottom: -1px; right: -1px; left: -1px;
                border: 2px solid $table-highlight-border-color;
                border-right: 5px solid $rex-accent-color;
            }

            :after {
                $triangle-size: 20px;
                content: "";
                display: block;
                height: $triangle-size; width: $triangle-size;
                background-color: #fff;
                border-width: 2px; border-style: solid;
                border-color: $table-highlight-border-color transparent transparent $table-highlight-border-color;
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: (-$triangle-size / 2);
                margin-left: (-$triangle-size / 2 + 1);
                @include rotate(-45deg);
            }
        }
    }

    .count-bar { width: 100px; height: 5px; }
    .count-bar-value { background-color: #b3b3b3; height: 100%; }
}
