.stop-list .stop {
    display: inline-block;
    margin: 5px 3px; padding: 6px 17px;
    border: 2px solid #d2d2d2; border-radius: 17px;
    background-color: #e8e9ed; color: #8d8d8d;
    font-size: 14px; font-weight: bold;

    &.stop-collapsed {
        padding: 6px 0; 
        background: none;
        border: none;
    }
}

.stop-diagram {
    $stop-diagram-icon-width: 30px;
    $stop-diagram-line-color: #D6DEE1;
    $stop-diagram-line-width: 3px;
    $stop-diagram-text-color: #3F4B50;
    $stop-diagram-bg-color: #D6DEE1;

    position: relative;

    >.stop-diagram-number {
        position: relative;
        display: inline-block;
        width: $stop-diagram-icon-width;
        height: $stop-diagram-icon-width;
        //border: $stop-diagram-line-width solid $stop-diagram-line-color;
        background-color: $stop-diagram-bg-color;
        border-radius: 50%;
        text-align: center;
        line-height: $stop-diagram-icon-width;
        color: $stop-diagram-text-color;
        font-size: 10pt;
    }

    &::before {
        content: "";
        display: block;
        width: $stop-diagram-line-width;
        position: absolute;
        top: 0; bottom: 0; right: ($table-cell-padding + ($stop-diagram-icon-width - $stop-diagram-line-width) / 2);
        background-color: $stop-diagram-line-color;
    }

    &.stop-diagram-start::before { top: $table-cell-padding; }
    &.stop-diagram-end::before { bottom: $table-cell-padding; }
}
