$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';
@import 'bootstrap';

$fa-font-path: '../bower_components/fontawesome/fonts/';
@import 'font-awesome';

$header-height: 50px;

body {
    /* Leave room for fixed header */
    padding-top: $header-height;
}

/* More prominent hovering effect on striped tables */
.table-hover.table-striped > tbody > tr:hover {
    background-color: lighten($brand-primary, 30%);
}

/* Stop-lists */
.stop-list .stop {
    display: inline-block; margin: 2px; padding: 2px 5px;
    background-color: $brand-primary; color: white;
    border-radius: 5px/50%;

    &:first-child { border-top-left-radius: 0; border-bottom-left-radius: 0; }
    &:last-child { border-top-right-radius: 0; border-bottom-right-radius: 0; }
}

/* SelectRoute */
.paths {
    .count-bar { width: 100px; height: 5px; }
    .count-bar-value { background-color: $brand-primary; height: 100%; }
    tbody > tr { cursor: pointer; }
}
