/*
    TODO: We need color constants that work with the Bootstrap theme.
    Should probably use LESS or SASS regardlessly.
*/

body {
    /* Leave room for fixed header */
    padding-top: 50px;
}

/* Spinning icons for loaders etc. */
.glyphicon.glyphicon-animate-spin {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin-webkit .7s infinite linear;
}

@-webkit-keyframes spin-webkit {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

/* More prominent hovering effect on striped tables */
.table-hover.table-striped > tbody > tr:hover {
    background-color: #d9edf7;
}

/* Stop-lists */
.stop-list .stop {
    display: inline-block; margin: 2px; padding: 2px 5px;
    background-color: #337ab7; color: white;
    border-radius: 5px/50%;
}
.stop-list .stop:first-child { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.stop-list .stop:last-child { border-top-right-radius: 0; border-bottom-right-radius: 0; }

/* SelectRoute */
.paths .count-bar { width: 100px; height: 5px; }
.paths .count-bar-value { background-color: #337ab7; height: 100%; }
.paths tbody > tr { cursor: pointer; }
